body {
 width: 100vw;
 margin: 0 auto;
 color: #b9b7c7;
}
.mainContent {
 height: 100vh;
 overflow: scroll;
 padding-top: 50px;
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.defaultBgColor {
 background: linear-gradient(10deg, #694f88, #494e47, #636d96, #616b60);
 background-size: auto;
 background-repeat: no-repeat;
 height:100vh;
}
.footer {
  position: fixed;
  bottom: 0;
  text-align: right;
  display: inline-block;
  float: right;
  width: 100%;
}
.homeContainer {
  background-image: url(../images/homebg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  width:100vw;
  display:table;
}
.active {
  background-color: white  !important;
  background-image: none !important;
  font-weight: 600;
}
.homeContent {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.nameTitle {
  font-family: 'Sofia';
}