body {
 width: 100vw;
 margin: 0 auto;
 font-family: Tahoma, Verdana, Arial, sans-serif;
 background: linear-gradient(10deg, #694f88, #557349, #636d96, #616b60);
 -webkit-animation: bodybg 30s ease infinite;
 -moz-animation: bodybg 30s ease infinite;
 -o-animation: bodybg 30s ease infinite;
 animation: bodybg 30s ease infinite;
 height: 100vh;
 background-size: auto;
 background-repeat: no-repeat;
 overflow: scroll;
 color: #b9b7c7;
 height: 100vh;
}
@-webkit-keyframes bodybg {
 0%{background-position:62% 0%}
 50%{background-position:39% 100%}
 100%{background-position:62% 0%}
}
@-moz-keyframes bodybg {
 0%{background-position:62% 0%}
 50%{background-position:39% 100%}
 100%{background-position:62% 0%}
}
@-o-keyframes bodybg {
 0%{background-position:62% 0%}
 50%{background-position:39% 100%}
 100%{background-position:62% 0%}
}
@keyframes bodybg {
 0%{background-position:62% 0%}
 50%{background-position:39% 100%}
 100%{background-position:62% 0%}
}
.default-title {
 -webkit-animation-name: thumb;
 -webkit-animation-duration: 3000ms;
 -webkit-transform-origin:50% 50%;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-timing-function: linear;
 font-size: 38px;
 color: #c5c1ce;
 text-align: center;
 display: block;
 margin-top: 34vh;
}
@-webkit-keyframes thumb {
 0% { -webkit-transform: scale(0.25); }
 50% { -webkit-transform: scale(0.50); }
 100% { -webkit-transform: scale(0.75); }
}
.navbar {
  opacity: 0.6;
  font-weight: 600;
  font-size: 13px;
}
.main-content {
  overflow:hidden;
}
.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  display: inline-block;
  float: right;
  width: 100%;
}
